<section class="w-full flex py-1 space-x-4">
    <div class="w-1/2">
        <div class="w-full">
            <div class="font-semibold p-1">Job Title</div>
            <mat-form-field class="w-full" appearance="outline">
                <input type="text" matInput placeholder="Ex. Product Manager" />
            </mat-form-field>
        </div>

        <div class="w-full">
            <div class="font-semibold p-1">Company Name</div>
            <mat-form-field class="w-full" appearance="outline">
                <input type="text" matInput placeholder="Ex. Google LLC" />
            </mat-form-field>
        </div>

        <div class="w-full">
            <div class="font-semibold p-1">Salary/Pay Rate</div>
            <mat-form-field class="w-full" appearance="outline">
                <input type="text" matInput placeholder="Ex. BDT 250000" />
            </mat-form-field>
        </div>

        <div class="w-full">
            <div class="font-semibold p-1">Job Description</div>
            <mat-form-field class="w-full" appearance="outline">
                <textarea
                    type="text"
                    matInput
                    placeholder="Give a detailed job description"
                ></textarea>
            </mat-form-field>
        </div>

        <div class="space-x-2">
            <button class="bg-black text-white w-30 py-2 text-sm font-medium rounded">
                Continue
            </button>
            <button class="bg-white text-black w-30 py-2 text-sm font-medium rounded cust-outline">
                Save
            </button>
        </div>
    </div>

    <div class="w-1/2">
        <div class="w-full">
            <div class="font-semibold p-1">Department</div>
            <mat-form-field class="w-full" appearance="outline">
                <input type="text" matInput placeholder="Developer" />
            </mat-form-field>
        </div>

        <div class="w-full">
            <div class="font-semibold p-1">Job Hours</div>
            <mat-form-field class="w-full" appearance="outline">
                <input type="text" matInput placeholder="Ex. 40 Hours" />
            </mat-form-field>
        </div>

        <div class="w-full">
            <div class="font-semibold p-1">Contact Address</div>
            <mat-form-field class="w-full" appearance="outline">
                <input type="text" matInput placeholder="digital@cuebites.com" />
            </mat-form-field>
        </div>
    </div>
</section>
