.cust-outline {
    outline: 1px solid #e0e0e0;
}

.cust-bg-dark {
    background-color: #434343;
}

.cust-font-color {
    color: #8e8e8e !important;
}

.cust-btn-outline {
    outline: 1px solid #434343;

    &:focus {
        outline: 1px solid #434343 !important;
    }
}
::ng-deep {
    .e-grid .e-gridheader tr th:first-child {
        padding-left: 10px !important;
    }
    .e-grid .e-headercell,
    .e-grid .e-detailheadercell {
        padding: 0 10px 0 !important;
    }

    .e-grid .e-rowcell:first-child,
    .e-grid .e-summarycell:first-child {
        padding-left: 10px !important;
    }

    .e-grid .e-rowcell {
        padding: 8px 10px !important;
    }

    .e-icons {
        display: none !important;
    }

    .e-grid .e-filterbarcell,
    .e-grid .e-filterbarcelldisabled {
        padding: 0 10px !important;
    }
}
