::ng-deep {
    .mat-datepicker-content .mat-calendar {
        width: 360px !important;
        height: 420px !important;
    }
}

.cust-outline {
    outline: 1px solid #e0e0e0;

    &:focus {
        outline: 1px solid #e0e0e0 !important;
    }
}
