<section class="w-full flex py-1 sm:space-x-4 flex-col sm:flex-row">
    <div class="w-full sm:w-1/2 space-y-5">
        <div class="w-full">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Start Date</mat-label>
                <input [matDatepicker]="StartPicker" placeholder="22/07/2023" matInput />
                <mat-datepicker-toggle matIconSuffix [for]="StartPicker"></mat-datepicker-toggle>
                <mat-datepicker #StartPicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="w-full">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Start Time</mat-label>

                <input
                    type="text"
                    matInput
                    placeholder="2nd May, 2023"
                    [ngxMatTimepicker]="picker"
                />
                <button (click)="picker.open()" matSuffix mat-icon-button>
                    <mat-icon matSuffix>schedule</mat-icon>
                </button>

                <ngx-mat-timepicker #picker></ngx-mat-timepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="w-full sm:w-1/2">
        <div class="w-full">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>End Date</mat-label>
                <input [matDatepicker]="EndPicker" placeholder="22/07/2023" matInput />
                <mat-datepicker-toggle matIconSuffix [for]="EndPicker"></mat-datepicker-toggle>
                <mat-datepicker #EndPicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</section>
<div
    class="space-y-2 sm:space-y-0 sm:space-x-2 mt-10 flex flex-col sm:flex-row justify-center items-center"
>
    <button mat-flat-button type="button">Continue</button>
    <button class="ml-4" mat-flat-button type="button" [color]="'primary'">Save</button>
</div>
