<div class="w-full text-3xl font-semibold py-2 pb-5 px-2">Recruitment</div>

<section class="w-full flex flex-col py-1 space-y-4">
    <div
        class="flex flex-col sm:flex-row items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card rounded-2xl shadow"
    >
        <!-- Title -->
        <div>
            <div class="text-3xl font-bold tracking-tight leading-none">Post a New Job</div>
        </div>
        <!-- Actions -->
        <div class="mt-4 sm:mt-0">
            <!-- Upload button -->
            <button
                mat-flat-button
                [color]="'primary'"
                class="flex justify-center items-center"
                [routerLink]="['../new-job']"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1 font-semibold">Create Job</span>
            </button>
        </div>
    </div>

    <div class="w-full space-y-6">
        <div
            class="flex flex-col sm:flex-row justify-between space-x-0 sm:space-x-4 space-y-4 sm:space-y-0"
        >
            <div class="flex flex-col flex-auto shadow rounded-2xl overflow-hidden">
                <app-basic-card
                    [title]="'Available Position'"
                    [centerNumber]="'22'"
                    [color]="'text-blue-500'"
                    [coloredText]="'Due Tasks'"
                    [footer]="'4 Urgently needed'"
                ></app-basic-card>
            </div>

            <div class="flex flex-col flex-auto shadow rounded-2xl overflow-hidden">
                <app-basic-card
                    [title]="'Job Open'"
                    [centerNumber]="'8'"
                    [color]="'text-red-500'"
                    [coloredText]="' Tasks'"
                    [footer]="'4 Active hiring'"
                ></app-basic-card>
            </div>

            <div class="flex flex-col flex-auto shadow rounded-2xl overflow-hidden">
                <app-basic-card
                    [title]="'New Employees'"
                    [centerNumber]="'16'"
                    [color]="'text-green-500'"
                    [coloredText]="'Open'"
                    [footer]="'4 Department'"
                ></app-basic-card>
            </div>
        </div>
    </div>

    <!-- <div class="w-2/5">
        <app-recent></app-recent>
        <app-upcoming></app-upcoming>
    </div> -->
</section>
