<div class="flex flex-wrap items-center font-medium pt-2 pb-5">
    <div>
        <a [routerLink]="['../']" class="whitespace-nowrap text-primary-500">Recruitment</a>
    </div>
    <div class="flex items-center ml-1 whitespace-nowrap">
        <mat-icon
            class="icon-size-5 text-secondary"
            [svgIcon]="'heroicons_solid:chevron-right'"
        ></mat-icon>
        <a class="ml-1 t">New Job Post</a>
    </div>
</div>

<mat-horizontal-stepper
    [linear]="false"
    preserveContent="true"
    [selectedIndex]="tabSelection"
    (selectedTabChange)="setTabIndex($event)"
>
    <mat-step>
        <ng-template matStepLabel>Job Description</ng-template>
        <ng-template matStepContent>
            <app-tab1 (nextTabEvent)="setSelectedTab($event)"></app-tab1>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Selection Criteria</ng-template>
        <ng-template matStepContent>
            <app-tab2 (nextTabEvent)="setSelectedTab($event)"></app-tab2>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Select Channels</ng-template>
        <ng-template matStepContent>
            <app-tab3 (nextTabEvent)="setSelectedTab($event)"></app-tab3>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Schedule and Post</ng-template>
        <ng-template matStepContent> <app-tab4></app-tab4> </ng-template>
    </mat-step>
</mat-horizontal-stepper>
