<div class="flex flex-wrap items-center font-medium">
    <div>
        <a [routerLink]="['../']" class="whitespace-nowrap text-primary-500">Recruitment</a>
    </div>
    <div class="flex items-center ml-1 whitespace-nowrap">
        <mat-icon
            class="icon-size-5 text-secondary"
            [svgIcon]="'heroicons_solid:chevron-right'"
        ></mat-icon>
        <a class="ml-1 t">New Job Post</a>
    </div>
</div>

<mat-tab-group
    preserveContent="true"
    [selectedIndex]="tabSelection"
    (selectedTabChange)="setTabIndex($event)"
>
    <mat-tab>
        <ng-template mat-tab-label>
            <span
                class="bg-black text-white text-sm h-5 w-5 rounded-full flex justify-center items-center mr-2"
            >
                1
            </span>
            Job Description
        </ng-template>

        <ng-template matTabContent>
            <app-tab1 (nextTabEvent)="setSelectedTab($event)"></app-tab1>
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <span
                class="bg-black text-white text-sm h-5 w-5 rounded-full flex justify-center items-center mr-2"
            >
                2
            </span>
            Selection Criteria
        </ng-template>

        <ng-template matTabContent>
            <app-tab2 (nextTabEvent)="setSelectedTab($event)"></app-tab2>
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <span
                class="bg-black text-white text-sm h-5 w-5 rounded-full flex justify-center items-center mr-2"
            >
                3
            </span>
            Select Channels
        </ng-template>

        <ng-template matTabContent>
            <app-tab3 (nextTabEvent)="setSelectedTab($event)"></app-tab3>
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <span
                class="bg-black text-white text-sm h-5 w-5 rounded-full flex justify-center items-center mr-2"
            >
                4
            </span>
            Schedule and Post
        </ng-template>

        <ng-template matTabContent> <app-tab4></app-tab4> </ng-template>
    </mat-tab>
</mat-tab-group>
