<section class="w-full flex flex-col">
    <ng-container *ngFor="let channel of jobPostChannels">
        <div class="my-2 py-3 px-4 cust-bg flex justify-between items-center rounded-lg">
            <div class="flex items-center">
                <img class="h-16 w-16 mr-2" [src]="channel.icon" alt="" />

                <div>
                    <div class="text-lg font-semibold leading-3">{{ channel.channelName }}</div>
                    <div class="text-sm">Cuebites Digital</div>
                </div>
            </div>

            <div>
                <div>
                    <div class="text-lg font-semibold leading-3">{{ channel.expectedReach }}</div>
                    <div class="text-sm">Expected Reach</div>
                </div>
            </div>

            <div>
                <div>
                    <div class="text-lg font-semibold leading-3">{{ channel.avgCost }}</div>
                    <div class="text-sm">Average Cost</div>
                </div>
            </div>

            <div class="space-x-4">
                <mat-slide-toggle></mat-slide-toggle>
                <button
                    class="bg-white text-black w-30 py-1.5 text-md font-semibold rounded cust-outline2"
                >
                    Edit
                </button>
            </div>
        </div>
    </ng-container>

    <div class="space-x-2 mt-10">
        <button
            (click)="gotoNextTab()"
            class="bg-black text-white w-30 py-2 text-sm font-medium rounded"
        >
            Continue
        </button>
        <button class="bg-white text-black w-30 py-2 text-sm font-medium rounded cust-outline">
            Save
        </button>
    </div>
</section>
