<div class="flex flex-col flex-auto shadow rounded-2xl overflow-hidden">
    <div class="cust-bg-dark px-5 py-3">
        <div class="text-lg text-white font-medium tracking-tight">Recent Activity</div>
    </div>

    <div class="cust-bg-darker p-4 px-5 text-white space-y-2">
        <div class="text-sm font-light">10:40 AM, Fri 10 Sept 2021</div>

        <div class="text-lg">You Posted a New Job</div>

        <div class="text-md font-light">
            Kindly check the requirements and terms of work and make sure everything is right.
        </div>

        <div class="w-full flex justify-between items-center py-2">
            <div class="text-md font-light">Today you have 12 Activities</div>

            <button class="cust-bg-dark px-4 py-2 text-sm font-medium rounded">
                See All Activity
            </button>
        </div>
    </div>
</div>
