<div class="w-full text-3xl font-semibold pb-2 flex items-center">
    <span [routerLink]="['../']" class="text-primary-500 cursor-pointer"> Recruitment</span>
    <mat-icon
        class="icon-size-8 text-secondary mx-1"
        [svgIcon]="'heroicons_solid:chevron-right'"
    ></mat-icon>
    Onboarding
</div>

<section class="w-full flex flex-col py-1 mt-2">
    <div class="text-4xl font-semibold">Check out Top Picks</div>

    <div class="text-md font-medium cust-font-color">
        Our predictive ai generated these top picks for you based on your tonality and preferences.
    </div>

    <section class="w-full flex space-x-4 pt-5">
        <div class="w-1/2">
            <div
                class="flex flex-col flex-auto p-4 shadow rounded-xl overflow-hidden space-y-2 cust-outline"
            >
                <ng-container *ngFor="let pick of topPicks">
                    <div class="flex py-2 w-full items-center">
                        <div
                            [routerLink]="['../candidate']"
                            class="flex w-full items-center cursor-pointer"
                        >
                            <img
                                class="w-12 h-12 mr-2"
                                src="assets/images/blank-person.svg"
                                v
                                alt=""
                            />
                            <div class="flex flex-col">
                                <div class="font-medium">{{ pick.name }}</div>
                                <div class="text-md cust-font-color">{{ pick.place }}</div>
                            </div>
                        </div>

                        <div class="w-full flex flex-col items-end">
                            <div class="text-md font-mediumh">{{ pick.rating }}%</div>
                            <mat-progress-bar
                                mode="determinate"
                                [value]="pick.rating"
                            ></mat-progress-bar>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="w-1/2">
            <app-candidate-list></app-candidate-list>
        </div>
    </section>
</section>
