<div class="flex flex-wrap items-center font-medium pt-2 pb-5">
    <div>
        <a [routerLink]="['../']" class="whitespace-nowrap text-primary-500">Recruitment</a>
    </div>
    <div class="flex items-center ml-1 whitespace-nowrap">
        <mat-icon
            class="icon-size-5 text-secondary"
            [svgIcon]="'heroicons_solid:chevron-right'"
        ></mat-icon>
        <a class="ml-1">Onboarding</a>
    </div>
</div>

<section class="w-full flex flex-col items-center py-1 mt-2">
    <div
        class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto px-2 py-4 sm:p-6 bg-card shadow rounded-2xl overflow-hidden w-full md:w-2/3"
    >
        <div class="flex flex-col sm:flex-row items-start justify-between">
            <div class="pl-5 text-lg font-medium tracking-tight leading-6 truncate">
                Posted Jobs
            </div>
        </div>

        <div class="flex flex-col mt-2 divide-y">
            <ng-container *ngFor="let job of postedJobs; trackBy: trackByFn">
                <div
                    [routerLink]="['./job-id']"
                    class="flex flex-row items-center justify-between px-5 py-4 rounded-xl cursor-pointer hover:bg-slate-100"
                >
                    <div class="flex flex-col">
                        <div class="text-lg font-medium py-2">{{ job.title }}</div>
                        <div
                            class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 space-x-2 sm:space-x-10"
                        >
                            <div class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 text-hint"
                                    [svgIcon]="'mat_solid:calendar_today'"
                                ></mat-icon>
                                <div class="ml-1 text-md text-secondary">
                                    {{ job.date }}
                                </div>
                            </div>
                            <div class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 text-hint"
                                    [svgIcon]="'mat_outline:incomplete_circle'"
                                ></mat-icon>
                                <div class="ml-1 text-md text-secondary">{{ job.percent }}%</div>
                            </div>
                            <div class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 text-hint"
                                    [svgIcon]="'mat_solid:people_alt'"
                                ></mat-icon>
                                <div class="ml-1 text-md text-secondary">
                                    {{ job.numberOfApplications }}+
                                </div>
                            </div>
                        </div>
                    </div>

                    <button
                        mat-icon-button
                        class="rounded-full w-8 h-8 flex justify-center items-center"
                    >
                        <mat-icon [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</section>
