<section class="bg-white rounded-md py-2 px-4">
    <div class="flex my-2">
        <div class="text-lg font-semibold">Salary</div>
    </div>

    <div class="px-5 py-5">
        <div class="text-sm cust-gray-text">Amount</div>

        <div class="text-3xl font-semibold">$8,500</div>

        <div class="flex pt-4 pb-2 space-x-8">
            <div class="flex flex-col">
                <div class="text-sm cust-gray-text">To</div>
                <div class="text-md font-semibold">Shakib Al-Hasan</div>
            </div>

            <div class="flex flex-col">
                <div class="text-sm cust-gray-text">Date</div>
                <div class="text-md font-semibold">18/05/2023</div>
            </div>

            <div class="flex flex-col">
                <div class="text-sm cust-gray-text">Payment Code</div>
                <div class="text-md font-semibold">bkash05182023</div>
            </div>
        </div>
    </div>

    <hr class="my-2" />

    <div class="px-5 py-5">
        <div class="text-sm cust-gray-text">Amount</div>

        <div class="text-3xl font-semibold">$8,500</div>

        <div class="flex pt-4 pb-2 space-x-8">
            <div class="flex flex-col">
                <div class="text-sm cust-gray-text">To</div>
                <div class="text-md font-semibold">Shakib Al-Hasan</div>
            </div>

            <div class="flex flex-col">
                <div class="text-sm cust-gray-text">Date</div>
                <div class="text-md font-semibold">18/04/2023</div>
            </div>

            <div class="flex flex-col">
                <div class="text-sm cust-gray-text">Payment Code</div>
                <div class="text-md font-semibold">bkash04182023</div>
            </div>
        </div>
    </div>
</section>
