<section class="w-full flex py-1 sm:space-x-4 flex-col sm:flex-row">
    <div class="w-full sm:w-1/2">
        <div class="w-full">
            <div class="font-semibold p-1">Start Date</div>
            <mat-form-field class="w-full" appearance="outline">
                <input matInput [matDatepicker]="StartPicker" placeholder="22/07/2023" />
                <mat-datepicker-toggle
                    class="mr-2"
                    matIconSuffix
                    [for]="StartPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #StartPicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="w-full">
            <div class="font-semibold p-1">Start Time</div>
            <mat-form-field class="w-full" appearance="outline">
                <input
                    type="text"
                    matInput
                    placeholder="2nd May, 2023"
                    [ngxMatTimepicker]="picker"
                />
                <button (click)="picker.open()" class="pr-4" matSuffix mat-icon-button>
                    <mat-icon matSuffix>schedule</mat-icon>
                </button>

                <ngx-mat-timepicker #picker></ngx-mat-timepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="w-full sm:w-1/2">
        <div class="w-full">
            <div class="font-semibold p-1">End Date</div>
            <mat-form-field class="w-full" appearance="outline">
                <input matInput [matDatepicker]="EndPicker" placeholder="22/07/2023" />
                <mat-datepicker-toggle
                    class="mr-2"
                    matIconSuffix
                    [for]="EndPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #EndPicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</section>
<div
    class="space-y-2 sm:space-y-0 sm:space-x-2 mt-10 flex flex-col sm:flex-row justify-center items-center"
>
    <button class="bg-black text-white w-30 py-2 text-sm font-medium rounded">Continue</button>
    <button class="bg-white text-black w-30 py-2 text-sm font-medium rounded cust-outline">
        Save
    </button>
</div>
