::ng-deep {
    .e-grid .e-gridheader tr th:first-child {
        padding-left: 15px !important;
    }
    .e-grid .e-headercell,
    .e-grid .e-detailheadercell {
        padding: 0 15px 0 !important;
    }

    .e-grid .e-rowcell:first-child,
    .e-grid .e-summarycell:first-child {
        padding-left: 15px !important;
    }

    .e-grid .e-rowcell {
        padding: 8px 15px !important;
    }

    .e-icons {
        display: none !important;
    }

    .e-grid .e-filterbarcell,
    .e-grid .e-filterbarcelldisabled {
        padding: 0 15px !important;
    }
}
