<div class="w-full text-3xl font-semibold pb-2">Dashboard</div>

<section class="w-full flex py-1 space-x-4">
    <!-- <div class="w-3/5 space-y-4"> -->
    <div class="w-full space-y-4">
        <span class="w-full flex sm:space-x-4 space-y-4 sm:space-y-0 flex-col sm:flex-row">
            <div class="flex flex-col flex-auto cust-bg shadow rounded-2xl overflow-hidden">
                <app-basic-card
                    [title]="'Available Position'"
                    [centerNumber]="'22'"
                    [color]="'text-blue-500'"
                    [coloredText]="'Due Tasks'"
                    [footer]="'4 Urgently needed'"
                ></app-basic-card>
            </div>

            <div class="flex flex-col flex-auto cust-bg shadow rounded-2xl overflow-hidden">
                <app-basic-card
                    [title]="'Job Open'"
                    [centerNumber]="'8'"
                    [color]="'text-red-500'"
                    [coloredText]="' Tasks'"
                    [footer]="'4 Active hiring'"
                ></app-basic-card>
            </div>

            <div class="flex flex-col flex-auto cust-bg shadow rounded-2xl overflow-hidden">
                <app-basic-card
                    [title]="'New Employees'"
                    [centerNumber]="'16'"
                    [color]="'text-green-500'"
                    [coloredText]="'Open'"
                    [footer]="'4 Department'"
                ></app-basic-card>
            </div>
        </span>

        <span
            class="w-full flex justify-evenly sm:space-x-4 space-y-4 sm:space-y-0 flex-col sm:flex-row"
        >
            <div
                class="w-full sm:w-1/2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                        Total Employees
                    </div>
                    <div class="ml-2">
                        <span class="font-medium text-sm text-secondary">30 days</span>
                    </div>
                </div>

                <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                    <div class="text-7xl font-bold tracking-tighter leading-tight">4123</div>
                    <div class="flex lg:flex-col lg:ml-3">
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:trending-down'"
                        ></mat-icon>
                        <div
                            class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary"
                        >
                            <span class="font-medium text-red-500">-2%</span>
                            <span class="ml-1">past month</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto h-20">
                    <apx-chart
                        class="flex-auto w-full h-full"
                        [chart]="chartConversions.chart"
                        [colors]="chartConversions.colors"
                        [series]="chartConversions.series"
                        [stroke]="chartConversions.stroke"
                        [tooltip]="chartConversions.tooltip"
                        [xaxis]="chartConversions.xaxis"
                        [yaxis]="chartConversions.yaxis"
                    ></apx-chart>
                </div>
            </div>

            <div
                class="w-full sm:w-1/2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                        Total Request
                    </div>
                    <div class="ml-2">
                        <span class="font-medium text-sm text-secondary">30 days</span>
                    </div>
                </div>

                <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                    <div class="text-7xl font-bold tracking-tighter leading-tight">16</div>
                    <div class="flex lg:flex-col lg:ml-3">
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:trending-down'"
                        ></mat-icon>
                        <div
                            class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary"
                        >
                            <span class="font-medium text-red-500">-5%</span>
                            <span class="ml-1">past month</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto h-20">
                    <apx-chart
                        class="flex-auto w-full h-full"
                        [chart]="chartConversions.chart"
                        [colors]="chartConversions.colors"
                        [series]="chartConversions.series"
                        [stroke]="chartConversions.stroke"
                        [tooltip]="chartConversions.tooltip"
                        [xaxis]="chartConversions.xaxis"
                        [yaxis]="chartConversions.yaxis"
                    ></apx-chart>
                </div>
            </div>
        </span>

        <!-- <div>
            <app-announcement></app-announcement>
        </div> -->
    </div>

    <!-- <div class="w-2/5">
        <app-recent></app-recent>
        <app-upcoming></app-upcoming>
    </div> -->
</section>
