<div class="w-full text-3xl font-semibold pb-2">Recruitment > Create Job Post</div>

<mat-tab-group preserveContent="true">
    <mat-tab>
        <ng-template mat-tab-label>
            <span
                class="bg-black text-white text-sm h-5 w-5 rounded-full flex justify-center items-center mr-2"
            >
                1
            </span>
            Job Description
        </ng-template>

        <ng-template matTabContent> <app-tab1></app-tab1> </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <span
                class="bg-black text-white text-sm h-5 w-5 rounded-full flex justify-center items-center mr-2"
            >
                2
            </span>
            Selection Criteria
        </ng-template>

        <ng-template matTabContent> Content 2 </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <span
                class="bg-black text-white text-sm h-5 w-5 rounded-full flex justify-center items-center mr-2"
            >
                3
            </span>
            Select Channels
        </ng-template>

        <ng-template matTabContent> Content 3 </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <span
                class="bg-black text-white text-sm h-5 w-5 rounded-full flex justify-center items-center mr-2"
            >
                4
            </span>
            Schedule and Post
        </ng-template>

        <ng-template matTabContent> Content 4 </ng-template>
    </mat-tab>
</mat-tab-group>
